{% extends 'base.html.twig' %}

{% block title %}Modifier l'artiste{% endblock %}

{% block body %}
    <div class="edit-artist">
        <h1>Informations de "{{ artist.name }}"</h1>

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.desc) }}
        {{ form_row(form.image) }}
        {{ form_row(form.submit, {"label": "Modifier"}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}